<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The greatest news app ever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <h3 class="text-center">VueNews</h3>
        <div class="columns medium-3" v-for="result in results">
            <div class="card">
                <div class="card-divider">
                    {{ result.title }}
                </div>
                <div class="card-section">
                    <p>{{ result.abstract }}.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
    
</body>
</html>

